"""
rename to settings.py once you overrided all the settings
"""
NICK = u'your bot name'
REALNAME = u'the bot birth name'
SERVER = u'euroserv.fr.quakenet.org'
START_CHANNELS = ['#testenbois', ]
ADMINS = ['your_nick', ]

MODULES = [
    'rand.randbot.RandModule',
    'meteo.meteobot.MeteoModule',
    'cleverbot.cleverircbot.CleverBotModule',
    'currency.currencybot.CurrencyModule',
    'feed.rssbot.RssModule'
]

AUTH_MODULE = "quakenet.quakebot.QuakeNetModule"

AUTH_ENABLE = False
AUTH_BOT = "Q@CServe.quakenet.org"
AUTH_LOGIN = "BotLogin"
AUTH_PASSWORD = "grütpwd"
AUTH_EMAIL = "botemail@whatever.com" # not used for now

LOG_DIR = "logs"
BACKUP_DIR = "backups"

DEFAULT_CURRENCY = 'eur'
OPEN_EXCHANGE_API_ID = u'your_open_exchange_api_id'

WORLDWEATHERONLINE_API_KEY = u'your_world_weather_online_api_key'
